<launch>
  <!--This value can be one of these pico2wave,festival,espeak-->
  <arg name="tts_type" default="pico2wave" />
  <param name="tts_type" value="$(arg tts_type)"/>

  <arg name="tts_srv_name" default="en-US" />
  <param name="tts_srv_name" value="$(arg tts_srv_name)"/>

  <!--This value can be one of these google,vosk,pocketsphinx,...-->
  <!--Pocketsphinx is the worst btw-->
  <arg name="recog_engine" default="google" />
  <param name="recog_engine" value="$(arg recog_engine)"/>
  <arg name="recog_srv_name" default="/recognizer/start" />
  <param name="recog_srv_name" value="$(arg recog_srv_name)"/>

  <arg name="record_input" default="false"/>
  <param name="record_input" value="$(arg record_input)"/>

  <arg name="record_ext" default=".wav"/>
  <param name="record_ext" value="$(arg record_ext)"/>

  <arg name="vosk_model_name" default=""/>
  <param name="vosk_model_name" value="$(arg vosk_model_name)"/>

  <arg name="sphinx_dict" default="cmudict-en-us.dict"/>
  <!--arg name="dict" default="KU_Robocup-en-us.dict" /-->
  <param name="sphinx_dict" value="$(arg sphinx_dict)"/>



  <node name="tts_node"
    pkg="speech_ros"
    type="tts_node.py"
    output='screen'/>
    
  <node name="speech_recog_node"
    pkg="speech_ros"
    type="$(arg recog_engine)_recog_node.py"
    output='screen'/>
</launch>